In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv('kemendagri_kode_wilayah_2022.csv')
df = df.rename(columns={'ma_code':'code','ma_name':'name','ma_level':'level','ma_parent':'parent','ma_postal_code':'postal_code'})
df

             code               name  level    parent  postal_code
0              11               Aceh      1       NaN          NaN
1            1101  Kab. Aceh Selatan      2      11.0          NaN
2          110101           Bakongan      3    1101.0          NaN
3      1101012001     Keude Bakongan      4  110101.0      23773.0
4      1101012002       Ujong Mangki      4  110101.0      23773.0
...           ...                ...    ...       ...          ...
86381      950828               Moba      3    9508.0          NaN
86382      950829            Wutpaga      3    9508.0          NaN
86383      950830         Nenggeagin      3    9508.0          NaN
86384      950831           Krepkuri      3    9508.0          NaN
86385      950832        Pasir Putih      3    9508.0          NaN

[86386 rows x 5 columns]

# Level 1 (Provinsi / Province)

In [3]:
df_province = df.loc[df['level'] == 1]
df_province = df_province.drop(['level', 'parent', 'postal_code'], axis=1)
df_province.head()

       code            name
0        11            Aceh
6805     12  Sumatera Utara
13346    13  Sumatera Barat
14703    14            Riau
16732    15           Jambi

# Level 2 (Kota / City)

In [4]:
df_city = df.loc[df['level'] == 2]
df_city = df_city.drop(['level', 'postal_code'], axis=1)
df_city = df_city.rename(columns={'parent':'province_code'})
df_city = df_city.astype({'province_code' : 'int64'})
df_city.head()

      code                name  province_code
1     1101   Kab. Aceh Selatan             11
280   1102  Kab. Aceh Tenggara             11
682   1103     Kab. Aceh Timur             11
1220  1104    Kab. Aceh Tengah             11
1530  1105     Kab. Aceh Barat             11

# Level 3 (Kecamatan / District)

In [5]:
df_district = df.loc[df['level'] == 3]
df_district = df_district.drop(['level', 'postal_code'], axis=1)
df_district = df_district.rename(columns={'parent':'city_code'})
df_district = df_district.astype({'city_code' : 'int64'})
df_district.head()

      code           name  city_code
2   110101       Bakongan       1101
10  110102    Kluet Utara       1101
32  110103  Kluet Selatan       1101
50  110104   Labuhan Haji       1101
67  110105         Meukek       1101

# Level 4 (desa / village)

In [6]:
df_village = df.loc[df['level'] == 4]
df_village = df_village.drop(['level'], axis=1)
df_village = df_village.rename(columns={'parent':'district_code'})
df_village = df_village.astype({'district_code' : 'int64', 'postal_code' : 'int64'})
df_village.head()

KeyError: "Only a column name can be used for the key in a dtype mappings argument. 'city_code' not found in columns."

In [ ]:
df_village.loc[df_village['postal_code'] == 55153]

In [ ]:
if not os.path.exists('output'):
    os.makedirs('output')
    
df_province.to_csv('./output/kemendagri-province.csv',index=False)
df_city.to_csv('./output/kemendagri-city.csv',index=False)
df_district.to_csv('./output/kemendagri-district.csv',index=False)
df_village.to_csv('./output/kemendagri-village.csv',index=False)